{% extends 'base.html' %}

{% block page_title %}
    <h2>{{ post.title }}</h2>
{% endblock %}

{% block page_content %}
    <small>
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>

    {% if user.is_authenticated %}
        <h3 class="mt-5">Leave a comment:</h3>
        <form class="w-50" method="post">
            {% csrf_token %}
            <div>{{ form.body }}</div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    {% endif %}

    <h3 class="mt-2">Comments:</h3>
    {% for comment in comments %}
        <p>
            On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
        </p>
        <p>
            {{ comment.body | linebreaks }}
        </p>
    {% endfor %}
{% endblock %}