{% extends 'base.html' %}

{% block page_title %}
    <h2 class="my-3">Register</h2>
{% endblock %}

{% block page_content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <label class="form-label">{{ field.label_tag }}</label> {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-default btn-primary" type="submit">Register</button>
        <a class="btn btn-default btn-primary" href="{% url 'login' %}">Back to login</a>
    </form>
{% endblock %}