<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}My Personal Blog{% endblock %}</title>
        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> {% endcomment %}
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <h1 onclick="location.href='{% url "index" %}'">My Personal Blog</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'categories' %}">Categories</a>
        </nav><hr>
        {% block page_title %}{% endblock page_title %}
        {% block page_content %}{% endblock page_content %}
    </body>
</html> 